/* CSS reset */

body {
    line-height: 1.0;
    color: #333;
    font-family: arial, microsoft yahei;
    font-size: 15px;
}


/**
 * Tag-cloud
 */

.option {}

.options {
    width: 1200px;
    margin: 10px auto;
    overflow: hidden;
}

.options li {
    width: 270px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 35px;
    border-right: #ccc 1px solid;
    height: 35px;
}

input,
select {
    width: 160px;
    height: 30px;
    line-height: 30px;
}

input[type="checkbox"] {
    width: 20px;
    vertical-align: middle;
}

#go {
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin:-10px auto 0;
    text-align: center;
    text-decoration: none;
    background-color: #f287a7;
    border-radius: 3px;
    color: #fff;

}
#div-go {
    margin-left: 100px;

}

.main {
    /*background-color: #eee;*/
    height: 600px;
    background:url(../../images/arashi/jitui.jpg);
}

.tag-cloud {
    width: 1200px;
    margin: 0 450px;
    height: 450px;
    position: relative;
    text-align: center;
    font-size: 14px;
    background-color:  greenyellow ; /**#fefd6b**/


}

.tag-cloud a {
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding: 1px;
    text-decoration: none;
}

.tag-cloud.tag-cloud-printed a {
    display: block;
}

.food-menu {
    width:200px;
    height: 300px;
    float: left;
}

.hei {
    height: 28px;
}

.button-blue{
    width:140px;
    line-height:38px;
    text-align:center;
    font-weight:bold;
    color:#fff;
    text-shadow:1px 1px 1px #333;
    border-radius:5px;

    position:relative;
    overflow:hidden;
    display:inline;
    border:1px solid #1e7db9;
    box-shadow:0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
    background:-webkit-linear-gradient(top,#42a4e0,#2e88c0);
    background:-moz-linear-gradient(top,#42a4e0,#2e88c0);
    background:linear-gradient(top,#42a4e0,#2e88c0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#42a4e0', endColorstr='#2e88c0'); /*  IE */
}

.button-blue:nth-child(6n){margin-right:0;}



